@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --sidebar-bg: #ebeff2;
  --outsail-blue: #4277c7;
  --outsail-blue-dark: #0052cc;
  --outsail-navy: #082f69;
  --outsail-cyan: #00c1ff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.bg-sidebar {
  background-color: var(--sidebar-bg);
}
